<div class="register-container">
  <h2>Cadastro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div class="form-group">
      <label for="phone">Telefone:</label>
      <input id="phone" type="tel" formControlName="phone">
    </div>
    <div class="form-group">
      <label for="birthDate">Data de Nascimento:</label>
      <input id="birthDate" type="date" formControlName="birthDate">
    </div>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input id="cpf" type="text" formControlName="cpf">
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Cadastrar</button>
  </form>
</div>